body{
    background-color:whitesmoke;
}
#main-box{
    height: 210px;
    width: 90px;
    border-radius: 18px;
    border: 1px solid ;
    background-color: black;
}
.body{
    width: 100px;
    margin-left: 900px;
    margin-top: 50px;     
}
.mine-box{
    border: 1px solid black;
    width: 48px;
    height: 12px;
    margin-left: 22px;
    margin-top: -px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius:25px ;
    background-color: black;
}
.sp{
    border: 1px solid black;
    width: 18px;
    height: 200px;
    margin-left: 38px;
    background-color: black;
}
.sp1{
    border: 1px solid black;
    height: 11px;
    width: 55px;
    margin-left: 20px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    background-color: black;
}
.sp2{
    border: 1px solid black;
    height: 14px;
    width: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 28px;
    margin-left: -2px;
    background-color: black;

}
.red,.yellow,.green{
    border: 1px solid black;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-top: 23px;
    margin-left: 24px;
}
.red{
    border-color: red;
    background-color: red;
}
.yellow{
    border-color: yellow;
    background-color: yellow;
}
.green{
    border-color: green;
    background-color: green;
}
.rd{
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: 1500px
}
hr{
    margin-top: 50px;
    color: white;
}
.car{
    margin-top: -199px;
}
.img2{
    margin-top: 20px;
}
.img1{
    margin-left: 200px;     
}
.img3{
    margin-left: 200px;
}
.img4{
    margin-left: 200px;
}
.img5{
    margin-left: 100px;
    margin-right: 100px;
}
.truck{
    margin-top: -75px;

}
.t-img{
    margin-left: 100px;
}
.t-img1,.t-img2{
    margin-left: 100px;
}